<div class='main-form'>
    <h2>Register</h2>
    <%= form_for @user do |f| %>
        <%= f.label 'Username: '%>
        <%= f.text_field :email %>
        <%= f.label "Email: " %>
        <%= f.text_field :email %>
        <%= f.label "Password: " %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, 'Confirm Password:' %>
        <%= f.password_field :password_confirmation %>
        <%= button_tag 'Sign me up!'%>
    <% end %>
    <p>Already have an account? Sign in <%= link_to 'here', new_session_path %>!</p>
</div>
