<%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id='products'>
    <h2 class='section-header'>Mario's Products</h2>

    <% if current_user && current_user.admin %>
    <%= link_to 'Create new product', new_product_path, class: 'new-button' %>
    <% end %>

    <% if @products.any? %>
    <div id='products-list'>
        <% @products.each do |product| %>
        <a class='product' href='<%= product_path(product) %>'>
            <h3><%= product.name %></h3>
            <p>from <%= product.country_of_origin %></p>
            <p><%= product.description  %></p>
            <p>$<%= product.cost %></p>
        </a>
        <% end %>
    </div>
    <% else %>
    <p>There are no products yet.</p>
    <% end %>
</div>
