<%= stylesheet_link_tag 'product_page', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id='product-page'>
    <div id='product-details'>
        <div>
            <%= image_tag @image, alt: "Picture of #{@product.name}"%>
        </div>
        <div>
            <h2 class='section-header'><%= @product.name %></h2>
            <p>from <%= @product.country_of_origin %></p>
            <p><%= @product.description  %></p>
            <p>$<%= @product.cost %></p>
            <% if current_user && current_user.admin %>
            <div class='edit-delete'>
                <p class='edit'><%= link_to 'Edit Product', edit_product_path(@product) %></p>
                <p class='delete'>
                    <%=
                    link_to 'Delete Product', product_path(@product),
                    data: {
                        confirm: "Are you certain you want to delete product '#{@product.name}'?",
                        method: 'delete'
                    }
                    %>
                </p>
            </div>
            <% end %>
        </div>
    </div>

    <% if @product.reviews.any? %>
    <h4>Product Reviews:</h4>
    <ul class='reviews'>
        <% @product.reviews.each do |review| %>
        <li>
            "<%= link_to review.content_body, product_review_path(@product, review) %>" - <%= review.author %>
        </li>
        <% end %>
    </ul>
    <% else %>
    <p>There are no reviews for this product yet!</p>
    <% end %>
    <p><%= link_to "Add a review", new_product_review_path(@product), class: 'new' %></p>



    <p><%= link_to 'Return to list of products', products_path %></p>
</div>
