<%= stylesheet_link_tag 'product_page', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id='product-page'>
    <div id='product-details'>
        <div>
            <%= image_tag @image, alt: "Picture of #{@product.name}"%>
        </div>
        <div>
            <h2 class='section-header'><%= @product.name %></h2>
            <p>from <%= @product.country_of_origin %></p>
            <p><%= @product.description  %></p>
            <p>$<%= @product.cost %></p>
            <% if current_user && current_user.admin %>
            <div class='edit-delete'>
                <p class='edit'><%= link_to 'Edit Product', edit_product_path(@product) %></p>
                <p class='delete'>
                    <%=
                    link_to 'Delete Product', product_path(@product),
                    data: {
                        confirm: "Are you certain you want to delete product '#{@product.name}'?",
                        method: 'delete'
                    }
                    %>
                </p>
            </div>
            <% end %>
        </div>
    </div>

    <div id='reviews'>
        <h4 class='section-header'>Reviews of <%= @product.name %></h4>
        <% if current_user %>
            <p><%= link_to "Add your own review!", new_product_review_path(@product), class: 'new-button' %></p>
        <% else %>
            <p><%= link_to "Sign in to add your own review!", new_session_path, class: 'new-button' %></p>
        <% end %>


        <% if @product.reviews.any? %>

        <div id='reviews-list'>
            <% @product.reviews.each do |review| %>
            <div>
                <p><%= review.author %> says...</p>
                <blockquote>
                    <%= review.content_body %>
                </blockquote>
            </div>
            <% end %>
        </div>
        <% else %>
        <p>There are no reviews for this product yet!</p>
        <% end %>
    </div>



    <p><%= link_to 'Return to list of products', products_path %></p>
</div>
