<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='main-form'>
    <h2><%= "#{form_text} Review for #{@product.name}"%></h2>
    <%= render "layouts/errors", :object => @review %>

    <%= form_for [@product, @review] do |f| %>
    <%= f.label :content_body, 'Comments: ' %>
    <%= f.text_area :content_body %>
    <%= f.label :rating, 'Rating: ' %>
    <%= f.number_field :rating, min: 1, max: 5 %>
    <%= button_tag "#{(form_text = 'New') ? 'Add' : 'Update'} review!"%>
    <% end %>

    <p><%= link_to 'Back to product page', product_path(@product) %>!</p>
</div>
