<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review], html: {class: 'container'} do |f| %>
    <h2 class='red-white'><%= "#{form_text} Review"%></h2>
    <p>for product: <%= @product.name %></p>
    <div>
        <%= f.label :author, 'Author: ' %>
        <%= f.text_field :author %>
    </div>
    <div>
        <%= f.label :content_body, 'Comments: ' %>
        <%= f.text_area :content_body %>
    </div>
    <div>
        <%= f.label :rating, 'Rating: ' %>
        <%= f.number_field :rating, min: 1, max: 5 %>
    </div>
    <%= f.submit %>
<% end %>
