<!DOCTYPE html>
<html>
<head>
    <title>Mario's</title>
    <%= favicon_link_tag 'm.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Marcellus|Nanum+Brush+Script|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
</head>
<body>
    <header id='site-header'>
        <a href='/' id='site-title'>
            <div id='img-shadow'>
                <%= image_tag 'm.png', alt: 'M' %>
            </div>
            <h1>Mario's</h1>
            <h2>Specialty Cuisine</h2>
        </a>
        <nav id='site-nav'>
            <ul>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'Products', products_path %></li>
            </ul>
        </nav>
        <form id='site-search'>
            <label for='search'>Search</label>
            <div>
                <input type='text' name='search' id='search'>
                <button type='submit'></button>
            </div>
        </form>

        <% if current_user %>

        <div id='site-userbar'>
            <div id='site-userbar-photo'>
                <%= image_tag (
                    (current_user.profile_picture.nil?) ?
                    'default-profile.jpg' :
                    current_user.profile_picture
                    ), alt: 'Your Profile Picture'
                %>
            </div>
            <div>
                <p><%= current_user.username %></p>
                <%= link_to 'Sign out', destroy_session_path %>
            </div>
        </div>

        <% else %>

        <div id='site-loginbar'>
            <%= link_to 'Sign in', new_session_path %>
            <%= link_to 'Register', new_user_path %>
        </div>
        <% end %>

    </header>



    <% unless (flash[:notice].nil? && flash[:alert].nil?) %>
    <div id='flash'>
        <% unless flash[:notice].nil? %>
        <p id='notice'><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:alert].nil? %>
        <p id='alert'><%= flash[:alert] %></p>
        <% end %>
    </div>
    <% end %>



    <main>
        <%= yield %>
    </main>
</body>
</html>
