<!DOCTYPE html>
<html>
<head>
    <title>Mario's<%= defined?(@info) ? " - #{@info[:title]}" : '' %></title>
    <%= favicon_link_tag 'm.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if defined?(@info) %>
    <%= stylesheet_link_tag    @info[:css], media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Marcellus|Nanum+Brush+Script|ZCOOL+XiaoWei&display=swap" rel="stylesheet">
</head>
<body>
    <header id='site-header'>
        <a href='/' id='site-title'>
            <div id='img-shadow'>
                <%= image_tag 'm.png', alt: 'M' %>
            </div>
            <h1>Mario's</h1>
            <h2>Specialty Cuisine</h2>
        </a>
        <nav id='site-nav'>
            <ul>
                <li><%= link_to 'About', products_path %></li>
                <li><%= link_to 'Products', products_path %></li>
            </ul>
        </nav>
        <form id='site-search'>
            <label for='search'>Search</label>
            <div>
                <input type='text' name='search' id='search'>
                <button type='submit'></button>
            </div>
        </form>
        <% if current_user %>
        <div id='site-userbar'>
            <a href='/<%= current_user.username %>'>
                <%=
                image_tag ((current_user.profile_picture.nil?) ?
                'default.jpg' :
                current_user.profile_picture
                ), alt: 'Your Profile Picture'
                %>
                <p><%= current_user.username %></p>
            </a>
            <p>
                <%= link_to 'Sign out', '/signout' %>
            </p>
        </div>
        <% else %>
        <div id='site-loginbar'>
            <p><%= link_to 'Sign in', '/signin' %></p>
            <p><%= link_to 'Register', '/register' %></p>
        </div>
        <% end %>
    </header>



    <% unless (flash[:notice].nil? && flash[:alert].nil?) %>
    <div id='flash'>
        <% unless flash[:notice].nil? %>
        <p id='notice'><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:alert].nil? %>
        <p id='alert'><%= flash[:alert] %></p>
        <% end %>
    </div>
    <% end %>



    <main>
        <%= yield %>
    </main>
</body>
</html>
