<!DOCTYPE html>
<html>
<head>
    <title>Mario's Specialty Foods</title>
    <%= favicon_link_tag 'm.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Nanum+Brush+Script&display=swap" rel="stylesheet">
</head>
<body>
    <header id='site-header'>
        <a href='/' id='site-title'>
            <div id='img-shadow'>
                <%= image_tag 'm.png', alt: 'M' %>
            </div>
            <h1>Mario's</h1>
            <h2>Specialty Cuisine</h2>
        </a>
        <nav id='site-nav'>
            <ul>
                <li><%= link_to 'About', products_path %></li>
                <li><%= link_to 'Products', products_path %></li>
            </ul>
        </nav>
        <form>
        </form>
        <div>
        </div>
    </header>

    <% unless (flash[:notice].nil? && flash[:alert].nil?) %>
    <div id='flash'>
        <% unless flash[:notice].nil? %>
        <p id='notice'><%= flash[:notice] %></p>
        <% end %>
        <% unless flash[:alert].nil? %>
        <p id='alert'><%= flash[:alert] %></p>
        <% end %>
    </div>
    <% end %>

    <main>
        <%= yield %>
    </main>
</body>
</html>
